#container-hosts {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.modal-footer-buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.modal-footer-buttons .theme-btn {
    flex: 1;
    padding: 8px 5px !important;
    font-size: 0.8rem !important;
    margin: 0 !important;
}

.raid-card {
    background: #1a1a1a !important;
    border: 1px solid #2563eb !important;
    border-radius: 12px !important;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.raid-info h6 {
    color: #facc15 !important;
    font-weight: bold;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.raid-details {
    font-size: 0.85rem;
    color: #bbb;
}

.raid-status-bar {
    width: 100px;
    text-align: center;
}

.progress-mini {
    height: 6px;
    background: #333;
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: 5px;
}

.progress-fill {
    height: 100%;
    background: #22c55e;
}

.btn-entrar {
    background: #2563eb;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 6px;
    font-weight: bold;
    font-size: 0.8rem;
    cursor: pointer;
}